  .login-page {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  height: 100%;
  /* margin: 2vh; */

  background-color: #ffffff;
  position: relative;
}

.login-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #006193;
}
.fil-logo {
  position: absolute;
  top: 0;
  left: 20px;
  
  display: flex;
  align-items: center;
}

.fil-logo img {
  /* height: 40px; */
  margin-right: 10px;
  margin-top: 1vh;
}

   
  .wallet-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5vh;
    text-align: center;
    margin-top: 10vh;
    justify-content: center;
    /* padding: 25px; */
  }
  
  .tagline {
    font-size: 16px;
    /* margin-bottom: 20px; */
    text-align: center;
    margin: 2vh 2vh;
    justify-content: center;
  }
  
  .login-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
  }
  
  .field-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-field {
    padding: 15px;
    font-size: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 30px;
    width: 114%;
  }
  

/* Existing styles */

.login-button {
  padding: 10px 20px;
  font-size: 17px;
  background-color: #4AA00F;
  color: #000000;
  border: none;
  border-radius: 4px;
  width: 125%;
  cursor: pointer;
  font-weight: bold;
}
.create-account {
  font-size: 14px;
  color: black;
  justify-content: center;
  display: flex;
  align-items: center;
}

.create-button{
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* .left-pane, .right-pane{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  justify-content: center;
  margin: 25px 5px;
  padding: 25px 25px;
} */

.right-pane{
  margin-top: 5vh;
}